body{
	background-image: url(https://wallpaperscraft.com/image/pokemon_go_pokemon_raichu_110524_1680x1050.jpg);
	-webkit-background-image:cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}



/**-----binario----**/
01100101 01101100 01100100 01101001 01101110